{% extends "layout.html" %}
{% block content %}
<div class="limiter">
    <div class="container-login100" style="background-image: url('{{ url_for('static', filename='images/bg-01.jpg')}}');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action = "{{url_for("application")}}" method = "POST" 
            enctype = "multipart/form-data">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    WELCOME {{ name }}
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Enter Name">
                    <input type = "file" name = "file">
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" >
                        Test
                    </button>
                </div>
                <br>
                <div>
                <span class="container-login100-form-btn">
                    <button class="login100-form-btn" >
                        Syncronize Models
                    </button>
                </span>
                <br>
                <span class="container-login100-form-btn">
                    <button class="login100-form-btn" >
                        Exit Application
                    </button>
                </span>
            </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}